---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -misc-include-cleaner,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers
WarningsAsErrors: "*"
HeaderFilterRegex: "(^|/)(c|cpp)/"
